body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(246, 242, 255, 0.4);
}

h2 {
    text-align: center;
    color: #5A17B9;
}

form {
    width: 50%;
    margin: auto;
    background-color: rgba(165, 110, 255, 0.3);
    border-radius: 8px;
    box-shadow: 0 0 10px #5A17B9;
    padding: 20px;
}

fieldset {
    margin-bottom: 20px;
    border: 2px solid #A56EFF;
    border-radius: 8px;
    padding: 10px;
}

legend {
    font-weight: bold;
    color: #5A17B9;
}

label {
    display: inline-block;
    width: 150px;
    color: #5A17B9;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #A56EFF;
    border-radius: 5px;
    color: #5A17B9;
    background-color: rgba(246, 242, 255, 1);
    box-sizing: border-box;
    outline: none;
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px;
    border: 1px solid #A56EFF;
    border-radius: 5px;
    color: #5A17B9;
    background-color: rgba(246, 242, 255, 1);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: #A56EFF;
    border-radius: 4px;
    color: #fff;
    font-family: Arial, sans-serif;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #5A17B9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3d0f6b;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background-color: #5A17B9;
    color: #fff;
}